/* Imagen de fondo por defecto (móviles: baja resolución) */
body {
  background-image: url("img/banner-480x320.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Para pantallas de escritorio (cargar imagen HD) */
@media (min-width: 1024px) {
  body {
    background-image: url("img/banner-1920x1080.jpg");
  }
}
